.modal.right .modal-dialog {
  position: fixed;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
  height: 100vh;
  overflow-y: auto;
}
